html,
body {
    margin: 0;
    height: 100%;
}

div {
    box-sizing: border-box;
}

.post-container {
    min-height: 80vh;
    height: auto;
    max-width: 1440px;
    margin: auto;
    padding: 50px 0 50px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.content-box {
    border: solid 1px #eee;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px #aaa;
    padding: 20px;
}

.post-left-layout {
    display: inline-block;
    width: 66%;
    height: 100%;
}

.post-right-layout {
    display: inline-block;
    width: 33%;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.post-img-container {
    width: 100%;
    height: 600px;
    padding: 20px;
}

.post-description-container {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.post-info-container {
    width: 100%;
    padding: 20px;
}

.review-container {
    width: 100%;
    padding: 20px;
}

.post-img-inner {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0 5px 10px 5px #eee;
    overflow: hidden;
}

.post-img-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-description-inner {
    width: 100%;
    height: 100%;
}

.review-inner h3 {
    text-align: center;
}

#fund-btn {
    width: 100%;
    background: lightpink;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: filter 0.3s;
}

#fund-btn:hover {
    filter: brightness(70%);
}

.profile-box {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.video-container {
    width: 100%;
    height: 500px;
    padding: 20px;
}

.post-description-inner {
    width: 100%;
    padding: 20px;
}

.post-info-inner {
    margin-bottom: 20px;
}

#profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-description {
    margin-left: 10px;
}

#follow-btn {
    margin-left: auto;
    height: 40px;
}

.profile-desc {
    width: 100%;
}

.review-input-container {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
}

#review-input {
    width: 80%;
    border: none;
    border-bottom: 1px solid black;
    margin: 0 10px 0 10px;
    outline: none;
}

#review-submit-btn {
    background: none;
    border: none;
}

.money-rate-bar {
    padding: 10px 0 10px 0;
}

.rate-outline {
    width: 100%;
    height: 30px;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

#rate-percent {
    background: skyblue;
    width: 67%;
    height: 100%;
}

#rate-num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
}