div {
  box-sizing: border-box;
}

.profile-page-container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0 30px 0;
  min-height: 80vh;
}

.profile-content {
  padding: 20px;
}
.profile-container {
  width: 800px;
  height: 400px;
}
.video-container {
  width: 800px;
  height: 440px;
}
.following-container {
  width: 800px;
  height: 630px;
}
.comment-container {
  width: 800px;
  height: 720px;
}
