.profile-content-inner {
  border: solid 1px #eee;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px #ccc;
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  display: flex;
}
.video-content-modify {
  background-color: #d9d9d9;
}
.video-input {
  width: 100%;
  margin: auto;
  text-align: center;
}
.video-input > input {
  width: 50%;
  text-align: center;
  background-color: transparent;
  border: none;
}
