.recent-item-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.recent-item {
    width: 30%;
    height: 220px;
}

.recent-item-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.recent-item-title {
    margin-top: 10px;
}